@{
    ViewBag.Title = "About Us";
}
<nav class="breadcrumb">
    <a class="breadcrumb-item" href="@Url.Action("Index", "Home")">Home / </a>
    <span class="breadcrumb-item active">About</span>
</nav>
<h3>@ViewBag.Message</h3>

<p>BYU Information Systems is a great program! With nearly 100% Employment within 6 months of graduation, it's a great program to ensure a successful
    career! On this webpage we have gathered the most popular questions from past, present, and future students, and have gathered the most popular
    and accurate answers. Feel free to submit your own questions, and give your own answers!</p>
