@{
    ViewBag.Title = "Home Page";
}
<nav class="breadcrumb">
    <span class="breadcrumb-item active">Home</span>
</nav>
<div class="jumbotron">
    <h1>BYUIS FAQts</h1>
    <p class="lead">Prepare for or continue your IS Degree by asking and answering questions about the IS Program</p>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/PMh3Yyx_DA8" frameborder="0" allowfullscreen></iframe>
</div>